[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
pandas = "*"
sklearn = "*"
scikit-learn = "*"
joblib = "*"
numpy = "*"
scipy = "*"
threadpoolctl = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
