@keyframes load {

    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 75%;
    }

    75% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}

.progress-bar {
    position: absolute;
    background-color: green;
    height: 10px;
    border-radius: 5px;
    animation: load 4s linear infinite; 
}

